.btn-primary {
  background: #305CDE !important;
  color: #fff;
  border: none !important;
}

.btn-primary:hover {
  background: #fff;
  color: #673ab7;
  border: 1px solid #305CDE;
}

.menu-icons:hover {
  color: #305CDE;
}

.active-btn {
  background: green;
  padding: 3px 2px;
  color: #fff;
  width: 84px;
  margin: auto;
  border-radius: 50px;
}
.pending-btn {
  background: rgb(251, 197, 37);
  padding: 3px 2px;
  color: #fff;
  width: 84px;
  margin: auto;
  border-radius: 50px;
}

@media (max-width: 540px) {
  .mobile-res {
    flex-wrap: wrap !important;
  }
}

@media (max-width: 768px) {
  .view-user-content .mobile-res {
    flex-wrap: wrap;
  }

  .user-detail .cosntomer-name {
    width: 40%;
  }

  .user-detail .cosntomer-name2 {
    width: 60%;
  }

  .active-btn {
    /* margin: auto; */
  }
}
.css-qpq9bu{
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


/* .enlarged-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background-color: rgba(185, 185, 185, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.enlarged-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
} */

.enlarged-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.enlarged-image {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 5px 10px;
}



@media (min-width: 900px) {
  .css-u1tokn-MuiDrawer-docked .MuiDrawer-paper {
      top: 78px;
  }
}

.modal.show .modal-dialog {
  margin-top: 100px;

}
.jodit-wysiwyg{
  max-height: 300px;
  overflow-y: scroll;
}
.css-mh8c01-MuiAvatar-root{
  margin: 8px 0 10px 21px !important;
}

@media (min-width: 900px) {
  .css-14m5cgn .MuiDrawer-paper {
      top: 79px;
  }
} 

.swal2-select {
    max-width: 100% !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}
